<input id="name" name="name" class="form-control" type="text" ng-model="type" />
<span class="badge alert-danger" ng-show="validationInfo!=null && !validationInfo.isValid">
    {{validationInfo.message}}
</span> 